<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My Website</title>
  </head>
  <body>
    {{> header}}
    
    <p>Some text here</p>

    <!-- to Include partials -->
    {{> footer}}
  </body>
</html>
